:root {
  --font-stack: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --background-color: #111;
  --font-color: #eee;
  --link-color: var(--font-color);
  --link-hover-color: #e3b505;
  --link-visited-color: #11c511;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: var(--font-stack);
  background-color: var(--background-color);
  color: var(--font-color);
}

main {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-visited-color);
}
